[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = git@github.com:google/googletest.git
[submodule "thirdparty/benchmark"]
	path = thirdparty/benchmark
	url = git@github.com:google/benchmark.git
[submodule "thirdparty/gperftools"]
	path = thirdparty/gperftools
	url = git@github.com:stdpain/gperftools.git
[submodule "thirdparty/glog"]
	path = thirdparty/glog
	url = git@github.com:google/glog.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "thirdparty/CRoaring"]
	path = thirdparty/CRoaring
	url = git@github.com:RoaringBitmap/CRoaring.git
[submodule "thirdparty/sse-popcount"]
	path = thirdparty/sse-popcount
	url = git@github.com:WojciechMula/sse-popcount.git
[submodule "thirdparty/flat_hash_map"]
	path = thirdparty/flat_hash_map
	url = git@github.com:skarupke/flat_hash_map.git
	branch = master
[submodule "thirdparty/abseil-cpp"]
	path = thirdparty/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
	branch = master
[submodule "thirdparty/folly"]
	path = thirdparty/folly
	url = git@github.com:facebook/folly.git
	branch = master
[submodule "thirdparty/sparsepp"]
	path = thirdparty/sparsepp
	url = git@github.com:greg7mdp/sparsepp.git
	branch = master
[submodule "thirdparty/phmap"]
	path = thirdparty/phmap
	url = git@github.com:greg7mdp/parallel-hashmap.git
[submodule "thirdparty/hopscotch-map"]
	path = thirdparty/hopscotch-map
	url = git@github.com:Tessil/hopscotch-map.git
	branch = master
[submodule "thirdparty/sparse-map"]
	path = thirdparty/sparse-map
	url = git@github.com:Tessil/sparse-map.git
	branch = master
[submodule "thirdparty/EASTL"]
	path = thirdparty/EASTL
	url = git@github.com:electronicarts/EASTL.git
	branch = master
[submodule "thirdparty/ktprime"]
	path = thirdparty/ktprime
	url = git@github.com:ktprime/ktprime.git
	branch = master
[submodule "thirdparty/parallel-hashmap"]
	path = thirdparty/parallel-hashmap
	url = git@github.com:greg7mdp/parallel-hashmap.git
	branch = master
[submodule "thirdparty/robin-hood-hashing"]
	path = thirdparty/robin-hood-hashing
	url = git@github.com:martinus/robin-hood-hashing.git
[submodule "thirdparty/boost"]
	path = thirdparty/boost
	url = git@github.com:boostorg/boost.git
[submodule "thirdparty/c"]
	path = thirdparty/c
	url = git@github.com:martinus/robin-hood-hashing.git
