[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest/
[submodule "thirdparty/benchmark"]
	path = thirdparty/benchmark
	url = https://github.com/google/benchmark.git
[submodule "thirdparty/gperftools"]
	path = thirdparty/gperftools
	url = https://github.com/stdpain/gperftools
[submodule "thirdparty/glog"]
	path = thirdparty/glog
	url = https://github.com/google/glog
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "thirdparty/CRoaring"]
	path = thirdparty/CRoaring
	url = https://github.com/RoaringBitmap/CRoaring
[submodule "thirdparty/sse-popcount"]
	path = thirdparty/sse-popcount
	url = https://github.com/WojciechMula/sse-popcount
[submodule "thirdparty/flat_hash_map"]
	path = thirdparty/flat_hash_map
	url = https://github.com/skarupke/flat_hash_map
	branch = master
[submodule "thirdparty/abseil-cpp"]
	path = thirdparty/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
	branch = master
[submodule "thirdparty/folly"]
	path = thirdparty/folly
	url = https://github.com/facebook/folly.git
	branch = master
[submodule "thirdparty/sparsepp"]
	path = thirdparty/sparsepp
	url = https://github.com/greg7mdp/sparsepp.git
	branch = master
[submodule "thirdparty/phmap"]
	path = thirdparty/phmap
	url = https://github.com/greg7mdp/parallel-hashmap
[submodule "thirdparty/hopscotch-map"]
	path = thirdparty/hopscotch-map
	url = https://github.com/Tessil/hopscotch-map.git
	branch = master
[submodule "thirdparty/sparse-map"]
	path = thirdparty/sparse-map
	url = https://github.com/Tessil/sparse-map.git
	branch = master
[submodule "thirdparty/EASTL"]
	path = thirdparty/EASTL
	url = https://github.com/electronicarts/EASTL
	branch = master
[submodule "thirdparty/ktprime"]
	path = thirdparty/ktprime
	url = https://github.com/ktprime/ktprime
	branch = master
[submodule "thirdparty/parallel-hashmap"]
	path = thirdparty/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap
	branch = master
[submodule "thirdparty/robin-hood-hashing"]
	path = thirdparty/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "thirdparty/boost"]
	path = thirdparty/boost
	url = https://github.com/boostorg/boost.git
	ignore = all
