[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = git@github.com:google/googletest.git
[submodule "thirdparty/benchmark"]
	path = thirdparty/benchmark
	url = git@github.com:google/benchmark.git
[submodule "thirdparty/gperftools"]
	path = thirdparty/gperftools
	url = git@github.com:stdpain/gperftools.git
[submodule "thirdparty/glog"]
	path = thirdparty/glog
	url = git@github.com:google/glog.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "thirdparty/CRoaring"]
	path = thirdparty/CRoaring
	url = git@github.com:RoaringBitmap/CRoaring.git
[submodule "thirdparty/abseil-cpp"]
	path = thirdparty/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
[submodule "thirdparty/folly"]
	path = thirdparty/folly
	url = git@github.com:facebook/folly.git
[submodule "thirdparty/brpc"]
	path = thirdparty/brpc
	url = git@github.com:apache/brpc.git
